@model Web.Models.EquipoViewModel

@{
    ViewBag.Title = "Equipos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Equipos</font></div>
    <div class="panel-body">
        <div class="panel panel-warning">
            <div class="panel-heading"><font size="4">Editar</font></div>
            <div class="panel-body">
                <div class="editor-label">@Html.Label(" Identificador")</div>
                <div class="form-group">
                    @Html.TextBoxFor(model => model.identificador, new { style = "width: 497px;" })
                    @Html.ValidationMessageFor(model => model.identificador)
                </div>

                <p></p>

                <div class="editor-label">@Html.Label("Número de serie")</div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.nroSerie, new { style = "width: 497px;" })
                    @Html.ValidationMessageFor(model => model.nroSerie)
                </div>

                <p></p>

                <div class="editor-label">@Html.Label("Versión de Firmware")</div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.versionFirmware, new { style = "width: 497px;" })
                    @Html.ValidationMessageFor(model => model.versionFirmware)
                </div>

                <p></p>

                <div class="editor-label">@Html.Label("Versión de Programación")</div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.versionProgramacion, new { style = "width: 497px;" })
                    @Html.ValidationMessageFor(model => model.versionProgramacion)
                </div>

                <p></p>

                <div class="editor-label">@Html.Label("Estado SD")</div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.estadoSd, new { style = "width: 497px;" })
                    @Html.ValidationMessageFor(model => model.estadoSd)
                </div>

                <p></p>

                <div>
                    <table>
                        <tr>
                            <td>@Html.Label("Portable") &nbsp; &nbsp;</td>
                            <td>@Html.EditorFor(model => model.portable)@Html.ValidationMessageFor(model => model.portable) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
                            <td>@Html.Label("Primario") &nbsp; &nbsp;</td>
                            <td>@Html.EditorFor(model => model.primario)@Html.ValidationMessageFor(model => model.primario) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</td>
                            <td>@Html.Label("Cadencia") &nbsp</td>
                            <td>@Html.EditorFor(model => model.cadencia)@Html.ValidationMessageFor(model => model.cadencia)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("./")" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Volver a la lista
                </a>
                <button type="submit" class="btn btn-warning">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Editar
                </button>
            </div>
        </div>
    </div>
</div>