<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ABM Lojack</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/Home/Index"><font color="red" size="5"><i class="glyphicon glyphicon-home"></i></font><font size="5"> Inicio</font></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <font color="red" size="5"><i class="glyphicon glyphicon-hdd"></i></font><font size="5"> Equipo</font>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Equipo">Equipos</a></li>
                            <li><a href="/EquipoTipo">Tipos de Equipo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <font size="5"><font color="red" size="5"><i class="glyphicon glyphicon-tag"></i></font> Entidad</font>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/Entidad">Entidades</a></li>
                            <li><a href="/NivelServicio">Niveles de Servicio</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><font color="red" size="5"><i class="glyphicon glyphicon-user"></i></font><font size="5"> Sign Up</font></a></li>
                    <li><a href="#"><font color="red" size="5"><i class="glyphicon glyphicon-log-in"></i></font><font size="5"> Login</font></a></li>
                </ul>
            </div>
        </nav>
        @RenderBody()
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Geosystems S.A.</p>
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
