@model IPagedList<Web.Models.Entidad.EntidadViewModel>

@{
    ViewBag.Title = "Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;


<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Entidades</font></div>
    <div class="panel-body">
        @{
            var message = TempData["AlertMessage"] ?? null;
            if (message != null)
            {
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Éxito!</strong> @message
                </div>
            }
        }
        <div class="table">
            <table class="table">
                <tr>
                    <th>
                        <a href="@Url.Action("Create")" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Agregar nueva Entidad
                        </a>
                    </th>
                    <th>
                        @using (Html.BeginForm("Index", "Entidad", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input name="search" type="text" class="form-control" placeholder="Buscar por nombre">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                            </div>
                        }
                    </th>
                <tr>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-condensed">
                <tr>
                    <th class="text-center">
                        @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == ViewBag.IdSortParm)
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(" Nombre", "Index", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == "nombre_asc")
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(" Estado", "Index", new { sortOrder = ViewBag.EstadoSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == "estado_asc")
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">
                        @Html.ActionLink(" Nivel Servicio", "Index", new { sortOrder = ViewBag.NivelServicioSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == "nivelservicio_asc")
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">@Html.DisplayName("Plantilla Suceso")</th>
                    <th class="text-center">
                        @Html.ActionLink("Cadencia Reporte", "Index", new { sortOrder = ViewBag.CadenciaReporteSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == "cadenciareporte_asc")
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">@Html.DisplayName("Teléfono")</th>
                    <th class="text-center">@Html.DisplayName("ID Procedimiento")</th>
                    <th class="text-center">@Html.DisplayName("Cuenta")</th>
                    <th class="text-center">@Html.DisplayName("Operaciones")</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.fechaBaja == null)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idEntidad)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.nombre)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.estado)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.NivelServicio.descripcion)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.plantillaSuceso)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.cadenciaReporte)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.telefono)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idProcedimiento)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Cuenta.nombre)</td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", new { id = item.idEntidad })" class="btn btn-info" title="Detalles">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.idEntidad })" class="btn btn-warning" title="Editar">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.idEntidad })" class="btn btn-danger" title="Eliminar">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                                @if (item.TienePosicion)
                                {
                                    <a href="@Url.Action("Locate", new { id = item.idEntidad })" class="btn btn-default" title="Ver última localización">
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                    </a>
                                    <a href="@Url.Action("Route", new { id = item.idEntidad })" class="btn btn-default" title="Ver recorrido">
                                        <span class="glyphicon glyphicon-road" aria-hidden="true"></span>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="danger">
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idEntidad)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.nombre)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.estado)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.NivelServicio.descripcion)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.plantillaSuceso)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.cadenciaReporte)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.telefono)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idProcedimiento)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Cuenta.nombre)</td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", new { id = item.idEntidad })" class="btn btn-info" title="Detalles">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.idEntidad })" class="btn btn-warning disabled">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.idEntidad })" class="btn btn-danger disabled">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
            <div class="col-sm-10">
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    Mostrando Entidad @Model.FirstItemOnPage a @Model.LastItemOnPage de @Model.TotalItemCount Entidades.
                </div>
            </div>
        </div>
    </div>
</div>

