@model IEnumerable<Web.Models.Entidad.EntidadViewModel>

@{
    ViewBag.Title = "Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Entidades</font></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><font size="4">Entidades en Mapa</font></div>
            <div class="panel-body">
                @foreach (var item in Model)
                {
                    <div class="entidad" data-latitud="@(item.Posicion.latitud)"
                         data-longitud="@(item.Posicion.longitud)"
                         data-nombre="@(item.nombre)"
                         data-estado="@(item.estado)"
                         data-nivelservicio="@(item.NivelServicio.descripcion)"
                         data-cuenta="@(item.Cuenta.nombre)"
                         data-cadenciareporte="@(item.cadenciaReporte)"
                         data-comentario="@(item.comentario)">
                    </div>
                }
                <div id="map_canvas" style="height: 520px;"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("/Index")" class="btn btn-default">
            Ver lista de entidades
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </a>
    </div>
</div>

@section scripts {
    <section class="scripts">
        <script type="text/javascript">
            $(document).ready(function () {
                initialize();
            });

            function initialize() {
                var entidades = $(".entidad");
                var markers = new Array();
                var Area = new google.maps.LatLng(-41, -58.381592);  // Argentina
                var mapOptions = {
                    zoom: 4,
                    center: Area,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };
                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
                
                $.each(entidades, function (key, value) {
                    markers[key] = new google.maps.Marker({
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP,
                    title: "Entidad " + $(value).attr("data-nombre"),
                    position: new google.maps.LatLng(
                        parseFloat($(value).attr("data-latitud")),
                        parseFloat($(value).attr("data-longitud"))
                        )
                    });
                    markers[key].setIcon('http://maps.google.com/mapfiles/ms/micons/red-dot.png');
                    var infowindow = new google.maps.InfoWindow({
                        borderRadius: 20,
                        content: "<div class='infoDiv'><h3>Entidad <u>" +
                                  $(value).attr("data-nombre") +
                                  "</u></h3> <h5><b>* Estado: </b>" +
                                  $(value).attr("data-estado") +
                                  "</h5> <h5><b>* Nivel de Servicio: </b>" +
                                  $(value).attr("data-nivelservicio") +
                                  "</h5> <h5><b>* Cadencia Reporte: </b>" +
                                  $(value).attr("data-cadenciareporte") +
                                  "</h5> <h5><b>* Cuenta: </b>" +
                                  $(value).attr("data-cuenta") +
                                  "</h5> <h5><b>* Comentario: </b>" +
                                  $(value).attr("data-comentario") +
                                  "</h5>"
                    });
                    google.maps.event.addListener(markers[key], 'click', function () {
                        infowindow.open(map, markers[key]);
                    });
                });
            }
        </script>
    </section>
}