@model Web.Models.Entidad.EntidadViewModel

@{
    ViewBag.Title = "Entidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Entidades</font></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><font size="4">Última localización de Entidad "@Model.nombre"</font></div>
            <div class="panel-body">
                <div id="map_canvas" style="height: 600px;"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("./")" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Volver a la lista
        </a>
    </div>
</div>

<script type="text/javascript">
    google.maps.visualRefresh = true;
    var latitud = '@Html.Raw(Json.Encode(Model.Posicion.latitud))';
    var longitud = '@Html.Raw(Json.Encode(Model.Posicion.longitud))';
    var nombre = '@Html.Raw(Json.Encode(Model.nombre))';
    var Area = new google.maps.LatLng(latitud, longitud);

    var mapOptions = {
        zoom: 14,
        center: Area,
        mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    var pin = new google.maps.LatLng(latitud, longitud);
    var marker = new google.maps.Marker({
        position: pin,
        map: map,
        animation: google.maps.Animation.DROP,
        title: "Entidad " + nombre
    });

    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-pushpin.png')

</script>