@model Web.Models.NivelServicio.NivelServicioViewModel

@{
    ViewBag.Title = "Niveles de Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Niveles de Servicio</font></div>
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading"><font size="4">Detalles</font></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr>
                            <th>@Html.DisplayName("ID")</th>
                            <th>@Html.DisplayFor(model => model.idNivelServicio)</th>   
                        </tr>
                        <tr>
                            <th>@Html.DisplayName(" Descripción")</th>
                            <th>@Html.DisplayFor(model => model.descripcion)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Alta")</th>
                            <th>Usuario @Html.DisplayFor(model => model.usuarioAlta) el @Html.DisplayFor(model => model.fechaAlta)</th>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Baja")</th>
                            <th>
                                @if (Model.usuarioBaja != null)
                                {
                                    @Html.DisplayName("Usuario ")
                                    @Html.DisplayFor(model => model.usuarioBaja)
                                    @Html.DisplayName(" el ")
                                    @Html.DisplayFor(model => model.fechaBaja)
                                }
                                else
                                {
                                    @Html.DisplayName("-")
                                }
                            </th>
                        </tr>
                    </table>
            </div>
            <div class="panel-footer">
                <a href="@Url.Action("./")" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Volver a la lista
                </a>
            </div>
        </div>
    </div>
</div>
</div>