@model Web.Models.NivelServicio.NivelServicioFormViewModel

@{
    ViewBag.Title = "Niveles de Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel panel-primary">
        <div class="panel-heading"><font size="5">Niveles de Servicio</font></div>
        <div class="panel-body">
            <div class="panel panel-warning">
                <div class="panel-heading"><font size="4">Editar Nivel de Servicio</font></div>
                <div class="panel-body">
                    <div class="editor-label">@Html.Label(" Descripcion")</div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.descripcion)
                        <font color="red"><b>&nbsp;@Html.ValidationMessageFor(model => model.descripcion)</b></font>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("./")" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                        Volver a la lista
                    </a>
                    <button type="submit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        Editar
                    </button>
                </div>
            </div>
        </div>
    </div>
}