@model IPagedList<Web.Models.NivelServicio.NivelServicioViewModel>

@{
    ViewBag.Title = "Niveles de Servicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;


<div class="panel panel-primary">
    <div class="panel-heading"><font size="5">Niveles de Servicio</font></div>
    <div class="panel-body">
        @{
            var message = TempData["AlertMessage"] ?? null;
            if (message != null)
            {
                <div class="alert alert-success fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Éxito!</strong> @message
                </div>
            }
        }
        <div class="table">
            <table class="table">
                <tr>
                    <th>
                        <a href="@Url.Action("Create")" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Agregar nuevo Nivel de Servicio
                        </a>
                    </th>
                    <th>
                        @using (Html.BeginForm("Index", "NivelServicio", FormMethod.Get))
                        {
                            <div class="input-group">
                                <input name="search" type="text" class="form-control" placeholder="Buscar por descripción">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        }
                    </th>
                <tr>
            </table>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <tr>
                    <th class="text-center">
                        @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == ViewBag.IdSortParm)
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">
                        @Html.ActionLink("Descripción", "Index", new { sortOrder = ViewBag.DescripcionSortParm, currentFilter = ViewBag.CurrentFilter })
                        @{
                            if (ViewBag.CurrentSort == "descripcion_asc")
                            {
                                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                            }
                        }
                    </th>
                    <th class="text-center">@Html.DisplayName("Operaciones")</th>
                </tr>

                @foreach (var item in Model)
                {
                    if (item.fechaBaja == null)
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idNivelServicio)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.descripcion)</td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", new { id = item.idNivelServicio })" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.idNivelServicio })" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.idNivelServicio })" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="danger">
                            <td class="text-center">@Html.DisplayFor(modelItem => item.idNivelServicio)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.descripcion)</td>
                            <td class="text-center">
                                <a href="@Url.Action("Details", new { id = item.idNivelServicio })" class="btn btn-info">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Edit", new { id = item.idNivelServicio })" class="btn btn-warning disabled">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.idNivelServicio })" class="btn btn-danger disabled">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </table>
            <div class="col-sm-10">
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                    Mostrando Nivel de Servicio @Model.FirstItemOnPage a @Model.LastItemOnPage de @Model.TotalItemCount Niveles de Servicio.
                </div>
            </div>
        </div>
    </div>
</div>

